{% extends 'base.html' %}

{% block body-content %}
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>ISI ADMISSION</h1>
        <p style="font-size:14pt;">
          Indian Statistical Institute (ISI) is an <a href="https://en.wikipedia.org/wiki/Institute_of_National_Importance">academic institute of national importance</a> as recognised by a 1959 act of the Indian parliament. It grew out of the Statistical Laboratory set up by<a href="https://en.wikipedia.org/wiki/Prasanta_Chandra_Mahalanobis">Prasanta Chandra Mahalanobis</a> in <a href="https://en.wikipedia.org/wiki/Presidency_College,_Kolkata">Presidency College, Kolkata</a>. Established in 1931, this public university of India is one of the oldest and most prestigious institutions focused on statistics, and its early reputation led it to being adopted as a model for the first US institute of Statistics set up at the <a href="https://en.wikipedia.org/wiki/North_Carolina">Research Triangle, North Carolina</a> by <a href="https://en.wikipedia.org/wiki/Gertrude_Mary_Cox">Gertrude Mary Cox</a>. <a style="font-size:8pt;" href="">read more about ISI</a>
        </p>
        <p>
          Though this is a highly prestigeous institute and probably the best for undegraduate studies in Mathematics and Statistics, very few people actually know about this institute and there are very less online help for the students seeking admission in ISI. Here in ISI Admission, we offer a complete solution of this problem. We offer thousands of practise questions, detailed discussion of the syllabus and question pattern and also real time mock test for the students to assess chance of cracking the exam</p>
        <p>
        In order to get most benefit of our expertise and your time, Sign up with us now.
        </p>
        <p>
          <a class="btn btn-lg btn-primary" href="{% url 'signup'%}" role="button">Sign Up</a>
        </p>
      </div>

    </div> <!-- /container -->

{% endblock %}
